<div class="page-head">
    <h2 class="page-head-title">商品管理</h2>

</div>
<div class="main-content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default panel-border-color panel-border-color-primary">
                <div class="panel-heading panel-heading-divider">商品详细，主键ID{{.ID}}<span class="panel-subtitle">可以修改商品详情</span></div>
                <div class="panel-body">
                    <form action="/product/update" style="border-radius: 0px;" class="form-horizontal group-border-dashed" method="post" >
                        <input type="text" name="id" value="{{.ID}}" hidden>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">商品ID</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="product_id" value="{{.ProductID}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">商品名称</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="product_name" value="{{.ProductName}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">商品数量</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="product_num" value="{{.ProductNum}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">商品图片地址</label>
                            <div class="col-sm-6">
                                <input type="text"   class="form-control" name="product_image" value="{{.ProductImage}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">商品价格</label>
                            <div class="col-sm-6">
                                <input type="text"   class="form-control" name="product_price" value="{{.ProductPrice}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">商品访问链接</label>
                            <div class="col-sm-6">
                                <input type="text"   class="form-control" name="product_image" value="{{.ProductImage}}">
                            </div>
                        </div>
                        <div class="row xs-pt-15">
                            <div class="col-xs-6">
                                <p class="text-right">
                                    <button type="submit" class="btn btn-space btn-primary">修改</button>
                                    <button class="btn btn-space btn-default" type="reset">重置</button>
                                </p>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

